body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

#kop {
  width: 80%;
  margin: 20px auto 5px auto;
  text-align: center;
}

#logo {
  width: 90px;
  display: block;
  margin: 0 auto 10px auto;
}

#judul-kampus {
  font-weight: bold;
  font-size: 14px;
}

#alamat {
  font-size: 12px;
  margin-top: 3px;
}

#garis {
  width: 80%;
  height: 3px;
  background: #1e3a8a;
  margin: 10px auto;
}

#form-box {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}

.label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

.input-field {
  width: 300px;
  padding: 6px;
  border: 1px solid #000;
}

#btn-box {
  margin-top: 15px;
}

.btn {
  padding: 6px 15px;
  border: 1px solid black;
  background: #e5e7eb;
  cursor: pointer;
  margin-right: 5px;
}
